@import "variables";
@import "mixins";

.filters {
  display: flex;
  width: 100%;

  @include s {
    margin-left: 10px;
    justify-content: space-between;
    width: 50%;
  }
}

.filters__item {
  width: 100%;
  text-align: center;
  font-size: $text-min;
  background: $secondary-color;
  padding: 10px;
  cursor: pointer;

  &:not(:last-child) {
    border-right: 2px solid $primary-color;
  }


  &:first-child {
    border-radius: 5px 0 0 5px;
  }

  &:last-child {
    border-radius:  0 5px 5px 0 ;
  }

  &:hover {
    background: $primary-color;
  }
}

.active {
  background: $primary-color;
}