@import "variables";


.form {
  display: flex;
}

.form__input {
  border-radius: 5px 0 0 5px ;
  padding: 10px;
  border: none;
  font-family: inherit;
  font-size: $text;

  &::placeholder{
    font-size: $text-min;
  }

  &:focus {
    outline: none;
  }

}

.form__btn {
  font-family: inherit;
  border-radius: 0 5px 5px 0 ;
  padding: 10px;
  background: $primary-color;
  cursor: pointer;
}
