.form {
  margin-top: 50px;
  display: flex;
  padding: 20px;
  background: wheat;
}

.form__input {
  padding: 10px;
  border: none;

  &:focus {
    outline: none;
  }

}

.form__btn {
  padding: 10px;
}
