@import "variables";

* {
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: Constantia, sans-serif;
  font-size: $text;
  height: 100%;
  //background: linear-gradient(0deg, rgba(206,133,64,1) 0%, rgba(244,222,180,1) 100%);
  background: linear-gradient(90deg, rgba(244,222,180,1) 0%, rgba(206,133,64,1) 100%);

  margin: 0;
  min-width: 320px;
  line-height: 1;
}

main {
  width: 100%;
}

.title {
  text-align: center;
  font-size: $title;
  line-height: 0.75;
}

.container {
  margin: 0 auto;
  //max-width: 320px;
  padding: 0 20px;
}

.text-center {
  text-align: center;
}