@import "variables";
@import "form";
@import "search";

.header {
  display: flex;
  flex-direction: column;
}

.header__wrap {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  margin: 15px 0 15px;
}

